<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL Shortener</title>
</head>
<body>
  <h1>URL Shortener</h1>
  <form method="post" action="/">
    <label for="url">Enter a https:// URL:</label>
    <input type="url"
      name="url"
      id="url"
      placeholder="https://www.xyz.com"
      pattern="https://.*" size="50"
      required
    >
    <button type="submit" value="submit">Submit</button>
    <br>
    {% if new_url %}
    <label>Generated URL: </label>
    <input value="{{ new_url }}" size="50" readonly>
    {% endif %}
  </form>
</body>
</html>
